/* common style  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 1349px;
    columns: #6C6C6C;
}
h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;    
}
h6{
    font-size: 18px;
    font-weight: 400;
}
.link-button{
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    background-color:#E02C6D;
    text-align: center;
}
.link-button:hover{
    color: #E02C6D;
    background-color: white;
}


/* ---------- header style -------- */
.header-container{
    background-color: #2D25A0;
    
    height: 677px;
    display: flex;
    justify-content: space-between;
}
.top-heading{
    padding-left: 140px;
    padding-top: 130px;
}
.top-heading h1{
    color: white;
    margin-bottom: 27px;
}
.link-button span{
    padding-right: 15px;
}
.top-banner{
    padding-right: 140px;
    padding-top: 110px;
}
.top-banner img{
    width: 556px;
    height: 438px;
}
header:hover .top-banner{
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}


/* -------------- players style---------------  */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 70px 140px 150px 140px;
}
.player{
    width: 300px;
    height: 450px;
    padding: 15px;
    box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid rgb(240, 240, 240);
}
.player-image img{
    width: 100%;
    height: 256px;
    background-position: center;
}
.player-name{
    margin-top: 10px;
    margin-bottom: 10px;
}
.player-info p{
    margin-top: 0;
    margin-bottom: 0;
}

/* highlight section styles  */
.highlight-section{
    display: flex;
    padding: 0 140px 100px 140px;
}
.highlight-info{
    padding-right: 50px;
}
.highlight-info h2{
    margin-top: 50px;
    margin-bottom: 0;
}
.highlight-info p{
    margin-bottom: 35px;
    padding-right: 90px;
}
.highlight-image img{
    width:540px;
    height: 425px;
}

/* -------------- time section styles ----------- */
.time-section{
    padding: 100px 140px 140px 140px;
    background-color: #2D25A0;
    color: white;
}
.time-schedule{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time-title{
    text-align: center;
}
.time h1{
    margin-top: -20px;
    margin-bottom: -20px;
}

/* footer section styles  */
footer{
    display: flex;
    justify-content: center;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 485px;
    height: 215px;
    padding-bottom: 60px;
    padding-top: 100px;
}
.footer-image img{
    width: 95%;
    height: 110px;
}
.social-icon{
    margin-top: 20px;
}
.icon{
    color: #969BAB;
    background-color: #E7E7E8;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
.icon:hover {
    background-color: #E02C6D;
    color: white;
}
.footer-container h6{
    margin-top: 20px;
    margin-bottom: 0;
}
